body, html {
    height: 100%;
    padding: 0; 
  }
  .carousel {
    height: 100%;
    margin-bottom: 0; 
  }
  .carousel-inner, .carousel-inner > .item, .carousel-inner > .item > img {
    height: 100%;
  }
  
  .navbar-brand {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: italic;
  }
